{% extends 'base.html' %}

{% block page_content %}



<div class="column is-one-third-widescreen is-offset-one-third-widescreen">
    <div class="box">
<section class="section">
    <div class="container">
      <h1 class="title">Табель))</h1>
      {% for q in query %}
        <tr><td> {{ q.ContainerId }} <br></td></tr>
      {% endfor %}
      <h2 class="subtitle">
          <div class="column">
        <div class="box">   

     
       
      </h2></div>
    </div></div>
  </section>
  </div></div>


 
     
  




          
  
  
{% endblock %}


