{% extends 'base.html' %}
{% load bulma_tags %}

{% block page_content %}



<div class="column is-four-fifths is-narrow-widescreen">
    <div class="box">
<section class="section">
    <div class="container">
      <h1 class="title">        
 
      <h2 class="subtitle">
          <div class="column">
        <div class="box"> 

      

          <h4 class="title is-4">Спецификация материалов на контейнер {{ form }}</h4>
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
              

                  
                  
                  
                    
                  
                    <tbody><tr><td colspan="6">Металл</td></tr>
                    <tr><h5 class="title is-4">Основание</h5></tr>
                    {% for c in container_base %}
                    <tr><div class="content is-small"></div>
                    <td>
                      {{ c.materials_osn_10m }}</td><td>
                      {{ c.code1c }}</td><td>
                      {{ c.naimenovanie }}</td><td>
                      {{ c.type }}</td><td>
                      {{ c.kolichestvo }}</td><td>
                      {{ c.edizmer }}</td></div>
                    {% endfor %}  
                  </tr>
                    
                    <tr><td colspan="6">Крыша</td></tr>
                    {% for c in container_roof %}
                    <tr><div class="content is-small"></div>
                    <td>
                      {{ c.materials_roof_10m }}</td><td>
                      {{ c.code1c }}</td><td>
                      {{ c.naimenovanie }}</td><td>
                      {{ c.type }}</td><td>
                      {{ c.kolichestvo }}</td><td>
                      {{ c.edizmer }}</td></div>
                    {% endfor %}  
                  </tr>
                  
                    <tr><td colspan="6">Корпус</td></tr>
                    {% for c in container_korpus %}
                    <tr><div class="content is-small"></div>
                    <td>
                      {{ c.materials_korpus_10m }}</td><td>
                      {{ c.code1c }}</td><td>
                      {{ c.naimenovanie }}</td><td>
                      {{ c.type }}</td><td>
                      {{ c.kolichestvo }}</td><td>
                      {{ c.edizmer }}</td></div>
                    {% endfor %}
                  </tr>                
                
                  </tbody>
                  
              
          </table>
          


</div><br>





      </h2></div>
    </div></div>
  </section>
  </div></div>


  





          
  
  
{% endblock %}


