{% extends 'base.html' %}
{% load bulma_tags %}
{% block page_content %}

<div class="column is-one-third-widescreen is-offset-one-third-widescreen">
    <div class="box">
<section class="section">
    <div class="container">
      <h1 class="title">LOGIN</h1>
      <h2 class="subtitle">
          <div class="column">
        <div class="box">   
            <form method='post'>
                {% csrf_token %}
                {{ form|bulma }}
                <div class="field is-grouped">
                  <div class="control">
                    <input class='input is-small' type="submit" value="Change">
                  </div>
                </div>
            </form>        
      </h2>
    </div></div></div>
  </section>
  </div></div>

{% endblock %}