{% extends 'base.html' %}
{% load bulma_tags %}
{% block page_content %}

<div class="column is-one-third-widescreen is-offset-one-third-widescreen">
    <div class="box">
<section class="section">
    <div class="container">

      <h2 class="subtitle">
          <div class="column">
        <div class="box">   
            <h1 class="title">DONE</h1>
                  </div>
                </div>
            </form>        
      </h2>
    </div></div></div>
  </section>
  </div></div>

{% endblock %}
